<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <style>
      tr { height: 25px; }
      th, td { width: 80px; text-align: center; }
    </style>
  </head>
  <body>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>Power Supply Management</h1>
      </div>
    </div>
    <div class="container">
      <div class="alert alert-info text-center" role="alert">
        <span  class="alert-link">Power utilization for the users</span>
      </div>
      <hr>
      <div class="row">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>User ID</th>
              <th>Voltage</th>
              <th>Current</th>
              <th>Power</th>
              <th>Frequency</th>
              <th>Energy</th>
            </tr>
          </thead>
          <tbody id="usageTableBody">

          </tbody>
        </table>        
      </div>
  </body>
  <script>
    $(document).ready(function () {
      $.ajax({
        type: 'GET',
        url: '/api/usage',
        success: function(usageList) {
          const html = usageList.map(usage => {
            const date = new Date(usage.date)
            return `<tr>
              <td>${date.toLocaleString()}</td>
              <td>${usage.userId}</td>
              <td>${usage.voltage}</td>
              <td>${usage.current}</td>
              <td>${usage.power}</td>
              <td>${usage.frequency}</td>
              <td>${usage.energy}</td>
            </tr>`
          })
          $('#usageTableBody').html(html);
        }
      });
    });
  </script>
</html>
